{{ $data := .Site.Data.affordable }}
{{ if $data.enable }}
{{ "<!-- hero slider -->" | safeHTML }}

<div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-10">
                <div class="row">
				{{ range $data.item }}
                    <div class="col-md-6 mb-4">
                        <div class="media align-items-center">
                            <i class="fas fa-check-circle fa-2x text-primary"></i>
                            <div class="media-body pl-3">
                                <h5 class="mb-0">{{.}}</h5>
                            </div>
                        </div>
                    </div>
				{{end}}
                </div>
            </div>
            <div class="col-lg-2 text-center">
            <img src="images/logo.svg" style="max-width: 170px;" class="img-fluid" />
        </div>
        </div>
    </div>
{{ end }} 