
<div class="modal callback-modal fade" id="callback" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body text-center p-5">
          <div class="callback-step1">
              <h4 class="mb-4">Book a callback and choose when you want to be called</h4>
              <button type="button" class="btn btn-lg btn-orange mb-2" id="rightnow">Right now</button>
              <button type="button" class="btn btn-lg btn-primary" id="tomorrow">Tomorrow</button>
          </div>
          <div class="callback-step3 d-none">
              <h4 class="mb-4">What time would you like your call?</h4>
              <div class="form-group">
            <select id="select-time" required name="select-time" class="custom-select">
                <option value="9am - 12pm">9am - 12pm</option><option value="12pm - 4pm">12pm - 4pm</option><option value="4pm - 6pm">4pm - 6pm</option><option value="6pm - 8pm">6pm - 8pm</option></select>
              </div>
              <button type="button" class="btn btn-orange" id="continue"> CONTINUE </button>
          </div>
          <div class="callback-step2 d-none">
              <form action="" name="callback-form" method="post" id="callback-form">
                    <div class="form-group">
                         <label for="" class="col-form-label">Your Name </label>
                         <input
              type="text"
              placeholder="Enter your name"
              class="form-control"
              name="name"
            />
                     </div>
                    <div class="form-group">
                         <label for="" class="col-form-label">Your telephone number </label> <input
                      type="number"
                      placeholder="Enter your number"
                      class="form-control"
                      name="mobile"
                    />
                     </div>
                    <div class="form-group">
                         <label for="" class="col-form-label">Your email address </label>
                            <input
              type="text"
              placeholder="Enter your email address"
              class="form-control"
              name="email"
            />
                         <input type="hidden" name="time" id="time-field" value="" />
                         <input type="hidden" name="when" id="when-field" value="" />
                         <input type="hidden" name="url" value="" />
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-orange"> SUBMIT </button>
                     </div>
                </form>
          </div>
          
      </div>
      
    </div>
  </div>
</div>