{{ $data := index .Site.Params.footerAbove }}
{{ if $data.enable }}
{{ "<!-- Partners-->" | safeHTML }}


<section class="py-5 bg-success" style="background-color:{{ $data.bgcolor}};">
    <div class="container">
        <h5 class="text-center text-white mb-3 font-weight-normal">
            {{ $data.title}}
        </h5>
        <div class="row align-items-center">
            <div class="col-md-auto border-right">
                
                <a href="{{ $data.url}}" target="_blank"><img src="{{ $data.logo | absURL }}" width="170px" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md">
                <p class="text-white small">{{ $data.content}}</p>
            </div>
        </div>
    </div>
</section>

{{ end}}