{{ $data := index .Site.Params.footer }}

<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav  justify-content-lg-start justify-content-center my-lg-0 my-3 d-none">
                    <li><a href="https://www.facebook.com/Money-Advice-with-Giraffe-547040339119740/" target="_blank" class=""><i class="fab fa-2x text-white-50 mr-3 fa-facebook-square"></i></a></li>
                    
                </ul>
				
				
                 <ul class="nav flex-lg-column justify-content-lg-start justify-content-center text-uppercase mb-3 small">
						{{ $currentPage := . }}
                        {{ range .Site.Menus.nav }}
                        {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="pr-4 pl-lg-0 nav-link text-white dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{ .Name }}
                            </a>
                            <div class="dropdown-menu" >
                                {{ range .Children }}
                                <a class="dropdown-item " href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="pr-4 pl-lg-0   nav-link text-white" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
				 
					<li>
                        <a class="pr-4 pl-lg-0   nav-link text-white" href="{{ .Site.Params.footer.privacyText }}">{{ .Site.Params.footer.privacyText }}</a>
                    </li>
                </ul>
				
				
            </div>
            <div class="col-lg-9 text-lg-left text-center">
                <div class="row">
                    <div class="col-sm-auto mb-3"><a href="tel:{{ $data.phone}}"><h4 class="text-white font-weight-bold mb-0"><i class="fas fa-phone text-white"></i>{{ $data.phone}}</h4></a>
                        <p class="text-white-50">{{ $data.time }}</p>
                    </div>
                </div>
                <p class="text-white small">
                    {{ $data.content | safeHTML }} 

                                                          
                </p>
                
            </div>
            <div class="col-12 text-center">
                <p class="text-white-50 small mt-3 mb-0">
                    {{ $data.copyright | safeHTML }}
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ "js/jquery-3.1.1.min.js" | absURL }} "></script> 
<script src="{{ "js/popper.min.js" | absURL }} "></script> 
<script src="{{ "js/bootstrap.min.js" | absURL }} "></script> 
<script src="{{ "js/parallax.min.js" | absURL }} "></script> 
<script src="{{ "js/jquery.validate.js" | absURL }} "></script> 
<script src="{{ "js/main.js" | absURL }} "></script> 
</body>