{{ $data := .Params.heorItem }}
{{ if $data.enable }}
{{ "<!-- hero slider -->" | safeHTML }}
<div class="hero-wrap" data-parallax="scroll" data-image-src="{{ $data.bgImage | absURL }}">
        <div class="container">
            <div class="row">
                <div class="col-md py-lg-5"> <a href="tel:01565 325 030"><h4 class="text-white font-weight-bold mb-3 d-lg-none "><i class="fas fa-phone text-white"></i>01565 325 030</h4></a>
                    <hr class=" d-lg-none">
                    <h1>
						{{ $data.heading | safeHTML }} 
                    </h1>
					{{ if $data.btn1.enable }}	
						<a href="{{ $data.btn1.btnURL}}" class="btn btn-lg btn-orange"> {{ $data.btn1.btnText}} </a>
					{{ end }}
					{{ if $data.btn2.enable }}	
						<a href="{{ $data.btn2.btnURL}}" data-toggle="modal" class="btn btn-lg btn-light ml-2">{{ $data.btn2.btnText}}</a>
					{{ end }}
                   
                </div>
                <div class="col-md-auto"><a href="tel:"><h2 class="text-white-50 font-weight-bold mb-3 d-lg-block d-none">Call now 01565 325 030</h2></a></div>
            </div>
            
        </div>
    </div>
	 <div class="container-fluid">
        <div class="row">
            <div class="col py-1" style="background-color: #f40d0d"></div>
            <div class="col py-1" style="background-color: #22b1a6"></div>
            <div class="col py-1" style="background-color: #fed603"></div>
            <div class="col py-1" style="background-color: #0084ff"></div>
            <div class="col py-1" style="background-color: #59d054"></div>
        </div>
    </div>
	{{ end }}