  
<div class="menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ .Site.Params.BaseURL | absURL }}">
				<img src="{{ .Site.Params.logo | absURL }}" alt="logo">
			</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-end flex-column" id="navbarNav">
                
                <ul class="navbar-nav">
					
                       {{ $currentPage := . }}
                        {{ range .Site.Menus.nav }}
                        {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{ .Name }}
                            </a>
                            <div class="dropdown-menu" >
                                {{ range .Children }}
                                <a class="dropdown-item " href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link {{ if or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                      
				
				
                </ul>
            </div>
        </nav>
    </div>
</div>