{{ $data := .Site.Data.options }}
{{ if $data.enable }}
{{ "<!-- hero slider -->" | safeHTML }}

	<section class="py-5 bg-light" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h3 class="text-dark"><strong>{{$data.heading}}</strong></h3>
                <h5 class="text-dark mb-4">{{$data.subHeading}}</h5>
				{{ range $data.item }}
                <ul class="nav list-point">
                    <li>{{ . }} </li>
                </ul>
				{{ end }} 
            </div>
            <div class="col-lg-auto">
                
                <a href="{{ $data.btnText}}" class="btn btn-orange btn-lg">{{ $data.btnText}} </a>
            </div>
        </div>
    </div>
</section>
{{ end }} 
