 {{ $data := .Site.Data.solutions }}
{{ if $data.enable }}
{{ "<!-- solutions -->" | safeHTML }} 
 <section class="bg-white py-5">
        <div class="container">
            <h3 class="text-dark text-center font-weight-bold mb-4">{{ $data.heading }}</h3>
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <div class="data-capture rounded-sm py-4 h-100">
                            <h4 class="text-white text-center font-weight-normal mb-3">Free Debt Advice</h4>

                         <form action="https://formspree.io/webuimaker@gmail.com" name="inquire" method="post" id="form">
                            <div class="form-group">
                                <label for="" class="col-form-label">Roughly how much is your total debt? </label>
                                <input
                      type="text"
                      placeholder="£"
                      class="form-control"
                      name="debt"
                    /></div>
                            <div class="form-group">
                                 <label for="" class="col-form-label">Your Name </label>
                                 <input
                      type="text"
                      placeholder="Enter your name"
                      class="form-control"
                      name="name"
                    />
                             </div>
                            <div class="form-group">
                                 <label for="" class="col-form-label">Your telephone number </label> <input
                      type="number"
                      placeholder="Enter your number"
                      class="form-control"
                      name="mobile"
                    />
                             </div>
                            <div class="form-group">
                                 <label for="" class="col-form-label">Your email address </label>
                                    <input
                      type="text"
                      placeholder="Enter your email address"
                      class="form-control"
                      name="email"
                    />
                                 <input type="hidden" name="url" value="" />
                             </div>
                             <div class="text-center">
                            <button type="submit" class="btn btn-light"> SUBMIT </button>
                                 </div>
                        </form>
    
                        </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
						{{ range $data.solutions}}
					
                        <div class="col-lg-6 col-md-6  col-md-6 mb-4">
                            <div class="rounded-sm p-3 py-4" style="background-color: {{ .bgColor }}">
                                <h4 class="text-white font-weight-normal">{{ .title }}</h4>
                                <p class="text-white mb-0">{{ .desc }}</p>
                                <a href="{{ .btnUrl }}" class="btn btn-light rounded-sm mt-2">{{ .btnText }}</a>
                            </div>
                        </div>
						{{end}}
                    </div>
                </div>
            </div>
            
        </div>
    </section>
	
	{{ end }}
	